<div class="text-center">
	<h1>Change your password</h1>
	<hr/>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<form ng-submit="submit()" name="changePasswordForm">
				<div class="form-group">
					<input type="password" class="form-control" placeholder="old password" ng-model="oldPassword" required/>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="new password" ng-model="newPassword" required/>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="confirmNewPassword" placeholder="confirm new password" ng-model="confirmNewPassword" required ui-validate="'$value==newPassword'" ui-validate-watch="'newPassword'"/>
				</div>
				<!-- cruddy -->
				<button type="submit" class="btn btn-default btn-block" ng-disabled="!changePasswordForm.$valid">Save new password</button>
				<div class="label label-danger block" ng-show="!changePasswordForm.$valid">
					{{changePasswordForm.confirmNewPassword.$error.validator? 'Password and confirm must match, but don&rsquo;t' : 'All fields are required'}}
				</div>
			</form>
		</div>
	</div>
</div>